@using Resources;
@model Lifetrons.Erp.Data.Operation

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Operation</h4>
        <hr />
        @Html.ValidationSummary(true)
       
        @Html.HiddenFor(model => model.ProductId)

        @Html.HiddenFor(model => model.EnterpriseStageId)

        @Html.HiddenFor(model => model.ProcessId)

        <div class="panel panel-default">
            <div class="panel-heading">@Resources.Metadata_UISection_References</div>
            <div class="panel-body">

                <div class="form-group">
                    @Html.LabelFor(model => model.ProductId, "Product", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.HiddenFor(model => model.ProductId, new { Value = @ViewData["ProductId"] })
                        @Html.TextBox("ProductName", (string)ViewBag.ProductName, new { @readonly = true })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EnterpriseStageId, "Stage", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.HiddenFor(model => model.EnterpriseStageId)
                        Assembly
                        @Html.ValidationMessageFor(model => model.EnterpriseStageId)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProcessId, "Process", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("ProcessId")
                        @Html.ValidationMessageFor(model => model.ProcessId)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ShrtDesc, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ShrtDesc)
                        @Html.ValidationMessageFor(model => model.ShrtDesc)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Serial, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Serial)
                        @Html.ValidationMessageFor(model => model.Serial)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Updates History", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <textarea id="historyLongDesc" name="historyLongDesc" readonly> @Model.Remark </textarea>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Remark, new { @class = "manageMaxLength", @maxlength = "399", @placeholder = "Updates" })
                        @Html.ValidationMessageFor(model => model.Remark)
                    </div>
                </div>


            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading">One Process Cycle</div>
            <div class="panel-body">

                <div class="form-group">
                    @Html.LabelFor(model => model.CycleTimeInHour, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CycleTimeInHour)
                        @Html.ValidationMessageFor(model => model.CycleTimeInHour)
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.CycleCapacity, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CycleCapacity)
                        @Html.ValidationMessageFor(model => model.CycleCapacity)
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Rates / hour</div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.LabourRatePerHour, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LabourRatePerHour)
                        @Html.ValidationMessageFor(model => model.LabourRatePerHour)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DepreciationRatePerHour, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DepreciationRatePerHour)
                        @Html.ValidationMessageFor(model => model.DepreciationRatePerHour)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EnergyRatePerHour, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EnergyRatePerHour)
                        @Html.ValidationMessageFor(model => model.EnergyRatePerHour)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OverheadRatePerHour, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.OverheadRatePerHour)
                        @Html.ValidationMessageFor(model => model.OverheadRatePerHour)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OtherDirectExpensesRatePerHour, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.OtherDirectExpensesRatePerHour)
                        @Html.ValidationMessageFor(model => model.OtherDirectExpensesRatePerHour)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OtherInDirectExpensesRatePerHour, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.OtherInDirectExpensesRatePerHour)
                        @Html.ValidationMessageFor(model => model.OtherInDirectExpensesRatePerHour)
                    </div>
                </div>


            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading">@Resources.Metadata_UISection_SystemInfo</div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.Authorized, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @(User.IsInRole("WorksAuthorize") ? Html.EditorFor(model => model.Authorized) : Html.DisplayFor(model => model.Authorized))
                        @Html.ValidationMessageFor(model => model.Authorized)
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @if (!Model.Authorized || User.IsInRole("WorksAuthorize"))
                {
                    <input type="submit" value="Save" class="btn btn-default" accesskey="S" />
                }
            </div>
        </div>

       
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { productId = Model.ProductId })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/Operation")
}