@using Resources;
@model Lifetrons.Erp.Data.Address
@using Lifetrons.Erp.Helpers

@{
    ViewBag.Title = Resources.Metadata_UISection_Details;
}

<h2>@Resources.Metadata_Address - @Resources.Metadata_UISection_Details</h2>


<div class="row center-block">
    <p>

        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) | @Html.ActionLink("Back to List", "Index")

    </p>
</div>


<div class="row">

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShrtDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShrtDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressToName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressToName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressToTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressToTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressToEMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressToEMail)
            @{

                <a href="@Url.Action("Compose", "Email", new {  area = "", toEmailAddress = Model.AddressToEMail })">
                    <span class="glyphicon glyphicon-envelope">     </span>
                </a>
            }

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressLine1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressLine1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressLine2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressLine2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressLine3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressLine3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Milestone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Milestone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceURI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceURI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMail)
            @{

                <a href="@Url.Action("Compose", "Email", new {  area = "", toEmailAddress = Model.EMail })">
                    <span class="glyphicon glyphicon-envelope">     </span>
                </a>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FallBack)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FallBack)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @ControllerHelper.ConvertDateTimeFromUtc(Model.CreatedDate, User.TimeZone())
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @ControllerHelper.ConvertDateTimeFromUtc(Model.ModifiedDate, User.TimeZone())
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Authorized)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Authorized)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColExtensionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColExtensionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser1.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser1.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Organization.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organization.Name)
        </dd>

    </dl>
</div>

