@using Resources;
@using Lifetrons.Erp.Helpers
@model Lifetrons.Erp.Data.Task

@{
    ViewBag.Title = Resources.Metadata_TaskId_Task;
}

<h2>@Resources.Metadata_UISection_Delete</h2>

<h3>@Resources.Metadata_ConfirmDelete</h3>
<div>
    <h4>@Resources.Metadata_TaskId_Task</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TaskNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShrtDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShrtDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RelatedToObjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RelatedToObjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAllDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAllDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reminder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reminder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @ControllerHelper.ConvertDateTimeFromUtc(Model.CreatedDate, User.TimeZone())
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @ControllerHelper.ConvertDateTimeFromUtc(Model.ModifiedDate, User.TimeZone())
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Authorized)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Authorized)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser1.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser1.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser2.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser2.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportCompletionToId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUserReportCompletionTo.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lead.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lead.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Organization.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organization.Name)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.TaskStatu.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskStatu.Name)
        </dd>

    </dl>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm" })) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/Task")
}
