@using Resources;
@model Lifetrons.Erp.Data.Product
@using Lifetrons.Erp.Helpers


@{
    ViewBag.Title = Resources.Metadata_UISection_Details;
}

<h3>@Resources.Metadata_ProductId_Product Showcase- @Resources.Metadata_UISection_Details</h3>

<div class="row center-block">
    <p>

     @Html.ActionLink("Back to List", "Showcase")

    </p>
</div>

<div class="row">
    <dl class="dl-horizontal">
        <div class="panel panel-default">
            <div class="panel-heading">Basic</div>
            <div class="panel-body">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Code)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Code)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ShrtDesc)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ShrtDesc)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Desc)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Desc)
                </dd>
               
                <dt>
                    @Html.DisplayNameFor(model => model.Weight)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Weight) &nbsp; @Html.DisplayFor(model => model.WeightUnit.Name)
                </dd>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">@Resources.Metadata_UISection_Relations</div>
            <div class="panel-body">
                <dt>
                    @Html.DisplayNameFor(model => model.ProductFamily.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProductFamily.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ProductType.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProductType.Name)
                </dd>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">@Resources.Metadata_UISection_SystemInfo</div>
            <div class="panel-body">
                @*Start Details - Authorized, Active, Created and Modified*@
                <dt>
                    @Html.DisplayNameFor(model => model.Authorized)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Authorized)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Active)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Active)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.AspNetUser.UserName)
                    &nbsp;
                    @ControllerHelper.ConvertDateTimeFromUtc(Model.CreatedDate, User.TimeZone())
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ModifiedBy)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.AspNetUser1.UserName)
                    &nbsp;
                    @ControllerHelper.ConvertDateTimeFromUtc(Model.ModifiedDate, User.TimeZone())
                </dd>
                @*End Details - Authorized, Active, Created and Modified*@

            </div>
        </div>
       
        <dt>
            @Html.DisplayName("Image")
        </dt>

        <dd>
            <img src="@Url.Action("GetProductImageThumbnail", "Media", new { area = "", productId = Model.Id })" class="img-responsive" alt="Image Not Available"
                 onerror="this.onerror=null;this.src='@Url.Content("~/Images/ImageNotAvailable.jpg")';" height="100" width="100">
        </dd>
 
       
    </dl>
</div>

