@using Resources;
@using Lifetrons.Erp.Helpers

@model Lifetrons.Erp.Data.PriceBookLineItem

@{
    ViewBag.Title = Resources.Metadata_UISection_Details;
}

<h2>Details</h2>

<div>
    <h4>Price Book Line Item</h4>
    @Html.HiddenFor(model => model.Id)
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PriceBookId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceBook.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ListPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShrtDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShrtDesc)
        </dd>
        @*Start Details - Authorized, Active, Created and Modified*@
        <dt>
            @Html.DisplayNameFor(model => model.Authorized)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Authorized)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AspNetUser.UserName)
            &nbsp;
            @ControllerHelper.ConvertDateTimeFromUtc(Model.CreatedDate, User.TimeZone())
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AspNetUser1.UserName)
            &nbsp;
            @ControllerHelper.ConvertDateTimeFromUtc(Model.ModifiedDate, User.TimeZone())
        </dd>
        @*End Details - Authorized, Active, Created and Modified*@

        <dt>
            @Html.DisplayName("Image")
        </dt>

        <dd>
            @{
                string imageAddr = Model.Organization.ImagePath + Model.Product.Code + ".jpg";
            }
            @*<img src="@imageAddr"  alt="Image not available"/>*@
            <img src="@imageAddr" class="img-responsive" alt="Image Not Available" onerror="this.src = '../../../Images/ImageNotAvailable.jpg'">
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { priceBookId = Model.PriceBookId, productId = Model.ProductId }) |
    @Html.ActionLink("Back to List", "Details", "PriceBook", new { id = Model.PriceBookId }, null) 
</p>
