@using Resources;
@using Lifetrons.Erp.Helpers
@model Lifetrons.Erp.Data.Lead

@{
    ViewBag.Title = Resources.Metadata_LeadId_Lead;
}

<h2>Convert Lead</h2>

<h3>
    Are you sure you want to convert this?
</h3>

<div class="alert alert-info" role="alert">"Convert" Lead only when it stands "QUALIFIED".</div>
<div class="alert alert-info" role="alert">"Convert" Lead to <u>Opportunity</u> will create one <i><u>Opportunity</u></i> and one <i><u>Task</u></i>, with <i><u>L-</u></i> as prefix. </div>
<div class="alert alert-danger" role="alert">After conversion, Lead can't be edited.</div>
<div>
    <h4>Lead</h4>
    <hr />
    <div class="row">
        <dl class="dl-horizontal">

            <div class="panel panel-default">
                <div class="panel-heading">@Resources.Metadata_UISection_References</div>
                <div class="panel-body">
                    <dt>
                        @Html.DisplayNameFor(model => model.OwnerId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AspNetUser2.UserName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Code)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Code)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ShrtDesc)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ShrtDesc)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Desc)
                    </dt>

                    <dd>
                        @Html.TextAreaFor(model => model.Desc, new { @readonly = true })

                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.IsConverted)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IsConverted)
                    </dd>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Work Info</div>
                <div class="panel-body">
                    <dt>
                        @Html.DisplayNameFor(model => model.CompanyName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CompanyName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.AnnualRevenue)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AnnualRevenue)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.NumberOfEmployees)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NumberOfEmployees)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Department)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Department)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Title)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.PrimaryPhone)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PrimaryPhone)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PrimaryEMail)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PrimaryEMail)
                        @{

                            <a href="@Url.Action("Compose", "Email", new {  area = "", toEmailAddress = Model.PrimaryEMail})">
                                <span class="glyphicon glyphicon-envelope">     </span>
                            </a>
                        }
                    </dd>


                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">@Resources.Metadata_UISection_Relations</div>
                <div class="panel-body">
                    <dt>
                        @Html.DisplayNameFor(model => model.CampaignId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Campaign.Name)
                    </dd>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">@Resources.Metadata_UISection_FollowUp</div>
                <div class="panel-body">
                    <dt>
                        @Html.DisplayNameFor(model => model.LeadSourceId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LeadSource.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LeadStatusId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LeadStatu.Name)
                    </dd>


                    <dt>
                        @Html.DisplayNameFor(model => model.RatingId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Rating.Name)
                    </dd>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Address</div>
                <div class="panel-body">

                    <dt>
                        @Html.DisplayNameFor(model => model.AddressToName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AddressToName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AddressLine1)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AddressLine1)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AddressLine2)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AddressLine2)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AddressLine3)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AddressLine3)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AddressCity)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AddressCity)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AddressPin)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AddressPin)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AddressState)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AddressState)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AddressCountry)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AddressCountry)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AddressPhone)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AddressPhone)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.AddressEMail)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AddressEMail)
                        @{
                            <a href="@Url.Action("Compose", "Email", new { area = "",  toEmailAddress = Model.AddressEMail })">
                                <span class="glyphicon glyphicon-envelope">     </span>
                            </a>
                        }


                    </dd>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">@Resources.Metadata_UISection_SystemInfo</div>
                <div class="panel-body">
                    @*Start Details - Authorized, Active, Created and Modified*@
                    <dt>
                        @Html.DisplayNameFor(model => model.Authorized)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Authorized)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Active)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Active)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AspNetUser.UserName)
                        &nbsp;
                        @ControllerHelper.ConvertDateTimeFromUtc(Model.CreatedDate, User.TimeZone())
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ModifiedBy)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AspNetUser1.UserName)
                        &nbsp;
                        @ControllerHelper.ConvertDateTimeFromUtc(Model.ModifiedDate, User.TimeZone())
                    </dd>
                    @*End Details - Authorized, Active, Created and Modified*@

                </div>
            </div>
        </dl>
    </div>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <div class="panel panel-default">
                <div class="panel-body">
                    @Html.HiddenFor(model => model.Id)
                    <dt>
                        Try to create "Contact" &nbsp;&nbsp; @Html.CheckBox("WithContact")
                        &nbsp;&nbsp;

                        <input type="submit" value="Convert" class="btn btn-default" />
                    </dt>
                    <br/> 
                   
                </div>
            </div>
        </div>
         @Html.ActionLink("Back to List", "Index")
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/Lead")
}