@using Resources;
@using Lifetrons.Erp.Helpers
@model Lifetrons.Erp.Data.Lead

@{
    ViewBag.Title = Resources.Metadata_LeadId_Lead;
}

<h2>@Resources.Metadata_UISection_Delete</h2>

<h3>@Resources.Metadata_ConfirmDelete</h3>
<div>
    <h4>@Resources.Metadata_LeadId_Lead</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OwnerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser2.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShrtDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShrtDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimaryPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimaryPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimaryEMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimaryEMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnnualRevenue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnualRevenue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfEmployees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfEmployees)
        </dd>


        

        <dt>
            @Html.DisplayNameFor(model => model.IsConverted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsConverted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CampaignId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Campaign.Name)
        </dd>
       
        <dt>
            @Html.DisplayNameFor(model => model.LeadSource.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeadSource.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeadStatu.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeadStatu.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddressId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Name)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Authorized)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Authorized)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @ControllerHelper.ConvertDateTimeFromUtc(Model.CreatedDate, User.TimeZone())
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser1.UserName)
        </dd>
       

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @ControllerHelper.ConvertDateTimeFromUtc(Model.ModifiedDate, User.TimeZone())
        </dd>

    </dl>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm" })) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/Lead")
}