@using Resources;
@using System.Threading
@using Lifetrons.Erp.Helpers
@model Lifetrons.Erp.Data.Dispatch

@{
    ViewBag.Title = Resources.Metadata_UISection_Details;
}

<h4>Dispatch - @Resources.Metadata_UISection_Details</h4>

<div class="row center-block">
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) | @Html.ActionLink("Back to List", "Index") |  @Html.ActionLink("Create Task", "CreateTask", new { id = Model.Id })

    </p>
</div>

<div class="row">
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <div class="panel panel-default">
                <div class="panel-heading">@Resources.Metadata_UISection_References</div>
                <div class="panel-body">

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.Name)
                        </div>
                    </div>
                    
                    <div class="form-group">
                        @Html.LabelFor(model => model.Dispatcher, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.Dispatcher)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.RefNo, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.RefNo)
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                           @ControllerHelper.ConvertDateTimeFromUtc(Model.Date, User.TimeZone())
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MarketType, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                           @Html.DisplayFor(model => model.MarketType)
                        </div>
                    </div>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">@Resources.Metadata_UISection_Relations</div>
                <div class="panel-body">

                    <div class="form-group">
                        @Html.LabelFor(model => model.AccountId, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.Account.Name)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SubAccountId, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.Account1.Name)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ContactId, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.Contact.Name)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.OrderId, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.Order.Name)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Notify, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.Notify)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Consignee, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.Consignee)
                        </div>
                    </div>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">@Resources.Metadata_UISection_FollowUp</div>
                <div class="panel-body">

                    <div class="form-group">
                        @Html.LabelFor(model => model.DeliveryTerms, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.DeliveryTerms)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PaymentTerms, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.PaymentTerms)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.SpecialTerms, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.SpecialTerms)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DeliveryDate, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @ControllerHelper.ConvertDateTimeFromUtc(Model.DeliveryDate, User.TimeZone())
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DeliveryStatusId, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.DeliveryStatu.Name)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Remark, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.Remark)
                            @Html.ValidationMessageFor(model => model.Remark)
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">@Resources.Metadata_UISection_SystemInfo</div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Authorized, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.Authorized)
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<div class="row">
    @{Html.RenderAction("Index", "DispatchLineItem", new { dispatchId = Model.Id });}
</div>

<div class="row">
    <a href="@Url.Action("Print", "PrintDispatch", new { area = "Reports", reportFormatType = "PDF", id = Model.Id })">Print PDF</a> |
    <a href="@Url.Action("Print", "PrintDispatch", new { area = "Reports", reportFormatType = "Excel", id = Model.Id })"> Excel</a> |
    <a href="@Url.Action("Print", "PrintDispatch", new { area = "Reports", reportFormatType = "Word", id = Model.Id })"> Word</a> |
    <a href="@Url.Action("Print", "PrintDispatch", new { area = "Reports", reportFormatType = "Image", id = Model.Id })">Image</a>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/Dispatch")
}
