@using Resources;
@model Lifetrons.Erp.Data.ProcurementOrderDetail
@using System.Threading
@using Lifetrons.Erp.Helpers


@{
    ViewBag.Title = Resources.Metadata_UISection_Delete;
}

<h2> @Resources.Metadata_UISection_Delete </h2>

<div class="row">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Procurement Order Line Item</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.TimeStamp)

        <div class="form-group">
            @Html.LabelFor(model => model.ProcurementOrderId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.ProcurementOrderId)
                @Html.TextBoxFor(model => model.ProcurementOrder.Name, new { Value = ViewData["ProcurementOrderName"], @readonly = true })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Serial, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Serial)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ItemId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Item.Name)

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SalesPrice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.SalesPrice)

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DiscountPercent, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="input-group col-md-2">
                    @Html.DisplayFor(model => model.DiscountPercent)
                    <span class="input-group-addon">
                        %
                    </span>

                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DiscountAmount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DisplayFor(model => model.DiscountAmount)

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LineItemPrice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.LineItemPrice)

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Quantity)

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Weight, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Weight)

                @Html.DisplayFor(model => model.WeightUnit.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LineItemAmount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.LineItemAmount)

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remark, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Remark)

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Authorized, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Authorized)

            </div>
        </div>


    </div>

</div>
@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Details", "ProcurementOrder", new { id = Model.ProcurementOrderId }, null)
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ProcurementOrderDetail")
}
