@using Resources;
@using System.Threading
@using Lifetrons.Erp.Helpers
@model Lifetrons.Erp.Data.Order

@{
    ViewBag.Title = Resources.Metadata_UISection_Edit;
}

<h2> @Resources.Metadata_UISection_Edit </h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Work Order</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.TimeStamp)

        <div class="panel panel-default">
            <div class="panel-heading">@Resources.Metadata_UISection_References</div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.OwnerId, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("OwnerId", null, new { @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.OwnerId)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.AccountId, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("AccountId", null, new { @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.AccountId)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SubAccountId, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("SubAccountId", null, new { @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.SubAccountId)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.Name)
                       
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Code, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.Code, new { @class = "manageMaxLength", @maxlength = "100", @placeholder = "Code (Unique)" })
                        @Html.ValidationMessageFor(model => model.Code)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ShrtDesc, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.ShrtDesc)
                        @Html.ValidationMessageFor(model => model.ShrtDesc)
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Updates History", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <textarea id="historyLongDesc" name="historyLongDesc" readonly> @Model.Remark </textarea>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Remark, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.Remark)
                        @Html.ValidationMessageFor(model => model.Remark)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RefNo, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.RefNo)
                        @Html.ValidationMessageFor(model => model.RefNo)
                    </div>
                </div>
            </div>
        </div>



        <div class="panel panel-default">
            <div class="panel-heading">@Resources.Metadata_UISection_FollowUp</div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.PriorityId, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("PriorityId", null, new { @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.PriorityId)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CompanySignedById, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("CompanySignedById", null, new { @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.CompanySignedById)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.StartDate, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                       <div class="dateDiv" style="position: relative">
                            <input class="dateTxt" type="text"  id="StartDate" name="StartDate" value="@ControllerHelper.ConvertDateTimeFromUtc(Model.StartDate, User.TimeZone())"
                                   data-date-format="@Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortDatePattern.ToUpper() @Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortTimePattern.ToLower()" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ActivatedById, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("ActivatedById", String.Empty)
                        @Html.ValidationMessageFor(model => model.ActivatedById)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ActivatedDate, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                       <div class="dateDiv" style="position: relative">
                            <input class="dateTxt" type="text"  id="ActivatedDate" name="ActivatedDate" value="@ControllerHelper.ConvertDateTimeFromUtc(Model.ActivatedDate, User.TimeZone())"
                                   data-date-format="@Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortDatePattern.ToUpper() @Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortTimePattern.ToLower()" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DeliveryDate, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                       <div class="dateDiv" style="position: relative">
                            <input class="dateTxt" type="text"  id="DeliveryDate" name="DeliveryDate" value="@ControllerHelper.ConvertDateTimeFromUtc(Model.DeliveryDate, User.TimeZone())"
                                   data-date-format="@Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortDatePattern.ToUpper() @Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortTimePattern.ToLower()" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DeliveryStatusId, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("DeliveryStatusId")
                        @Html.ValidationMessageFor(model => model.DeliveryStatusId)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProgressPercent, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="input-group col-md-2">
                            <input name="ProgressPercent" id="ProgressPercent" type="text" value="@Model.ProgressPercent" class="form-control manageMaxLength" maxlength="17" placeholder="Ex: 5">
                            <span class="input-group-addon">
                                %
                            </span>
                            @Html.ValidationMessageFor(model => model.ProgressPercent)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Progress Updates History", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <textarea id="historyProgressDesc" name="historyProgressDesc" readonly> @Model.ProgressDesc </textarea>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProgressDesc, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.ProgressDesc, new { @class = "manageMaxLength", @maxlength = "250", @placeholder = "Progress desc" })
                        @Html.ValidationMessageFor(model => model.ProgressDesc)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ReportCompletionToId, "ReportCompletionToId", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("ReportCompletionToId")
                        @Html.ValidationMessageFor(model => model.ReportCompletionToId)
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">@Resources.Metadata_UISection_TermsConds</div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.DeliveryTerms, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.DeliveryTerms, new { @class = "manageMaxLength", @maxlength = "500", @placeholder = "Delivery and shipping terms" })
                        @Html.ValidationMessageFor(model => model.DeliveryTerms)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PaymentTerms, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.PaymentTerms, new { @class = "manageMaxLength", @maxlength = "500", @placeholder = "Payment terms" })
                        @Html.ValidationMessageFor(model => model.PaymentTerms)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SpecialTerms, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.SpecialTerms, new { @class = "manageMaxLength", @maxlength = "500", @placeholder = "Special terms" })
                        @Html.ValidationMessageFor(model => model.SpecialTerms)
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">System Info</div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.Authorized, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.Authorized)
                        @Html.ValidationMessageFor(model => model.Authorized)
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @if (!Model.Authorized || User.IsInRole("WorksAuthorize"))
                {
                    <input type="submit" value="Save" class="btn btn-default" accesskey="S" />
                }
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/WorkOrder")
}
