@using System.Configuration
<!DOCTYPE html>
<html>
<head>
    @{
        string AppName = ConfigurationManager.AppSettings["AppName"];
        string AppHomeURL = ConfigurationManager.AppSettings["AppHomeURL"];
        string AppSupportEmail = ConfigurationManager.AppSettings["AppSupportEmail"];
        ViewBag.AppName = AppName;
        ViewBag.AppHomeURL = AppHomeURL;
        ViewBag.AppSupportEmail = AppSupportEmail;

        @Html.Hidden("AppName", (string)ViewBag.AppName)
        @Html.Hidden("AppHomeURL", (string)ViewBag.AppHomeURL)
        @Html.Hidden("AppSupportEmail", (string)ViewBag.AppSupportEmail)
    }

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Html.Raw(AppName) [SysAdmin] @ViewBag.Title</title>

    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">*@

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/esCustoms")
    @Styles.Render("~/Scripts/fancybox/fancyboxCss")
    @Scripts.Render("~/bundles/modernizr")

    <script>
        window.onload = function () {
            window.localStorage.setItem('AppHomeURL', AppHomeURL);
        }
    </script>
</head>

<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">*@
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (!Request.IsAuthenticated)
                {
                    @Html.ActionLink(AppName, "Index", "Home", null, new { @class = "navbar-brand" })
                }
                else
                {
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle navbar-brand" data-toggle="dropdown">
                                @Html.Raw(AppName)  &nbsp; <small>[Systems]</small>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("Index", "Home")">   <span class="glyphicon glyphicon-home">     </span> @Resources.MainMenuHome</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("About", "Home")">   <span class="glyphicon glyphicon-info-sign">     </span> @Resources.MainMenuAbout </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Contact", "Home")"><span class="glyphicon glyphicon-pencil">     </span> @Resources.MainMenuContactUs </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("VideoHelp", "Home")"><span class="glyphicon glyphicon-hd-video">     </span> @Resources.MainMenuVideoHelp </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ProcessSteps", "Home")"><span class="glyphicon glyphicon-arrow-right">     </span> @Resources.MainMenuProcessSteps </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul id="MainMenuList" name="MainMenuList" class="nav navbar-nav">
                    @if (!Request.IsAuthenticated)
                    {
                        //Menu for new and non authenticated users
                        <li>
                            <a href="@Url.Action("Index", "Home")">   <span class="glyphicon glyphicon-home">     </span> @Resources.MainMenuHome</a>
                        </li>
                        <li>
                            <a href="@Url.Action("About", "Home")">   <span class="glyphicon glyphicon-info-sign">     </span> @Resources.MainMenuAbout </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Contact", "Home")"><span class="glyphicon glyphicon-pencil">     </span> @Resources.MainMenuContactUs</a>
                        </li>
                    }

                    @if (Request.IsAuthenticated)
                    {
                        if (AppName == "EasySales.in")
                        {
                            <li>
                                <a href="@Url.Action("SelectUserToManageRoles", "Roles")">
                                    <span class="glyphicon glyphicon-wrench"> </span>
                                    @Resources.MainMenuUserRoles
                                </a>
                            </li>

                            <li class="divider"></li>
                            <li>
                                <a href="@Url.Action("Index", "JoiningRequest")">
                                    <span class="glyphicon glyphicon-log-in"> </span>
                                    @Resources.MainMenuJoiningRequest
                                </a>
                            </li>
                            
                            if (User.IsInRole("SuperAdmin"))
                            {
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-barcode">     </span>
                                        Manage
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="@Url.Action("UserIndex", "Admin")">
                                                <span class="glyphicon glyphicon-wrench"> </span>
                                                @Resources.MainMenuUserIndex
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Manage", "Account", new { area = ""})">
                                                <span class="glyphicon glyphicon-wrench"> </span>
                                                Manage User
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("ManageUserPassword", "Account", new { area = ""})">
                                                <span class="glyphicon glyphicon-wrench"> </span>
                                                Password Management
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("ShowOrganization", "Organization")">
                                                <span class="glyphicon glyphicon-globe"> </span>
                                                @Resources.MainMenuOrganization
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Create", "Notifications", new { area = ""})">
                                                <span class="glyphicon glyphicon-bell"> </span>
                                                SMS Notifications
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            }
                        }
                    }

                </ul>

                @*@Html.Partial("_LoginPartial")*@
                @{ Html.RenderAction("LoginPartial", "Account", new { area = "" }); }

            </div> @*navbar-collapse div ends*@
        </div> @*container div ends*@
    </div> @*navbar navbar-default navbar-fixed-top div ends*@

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    &copy; @DateTime.Now.Year - @Html.Raw(AppName)
                </div>
                <div class="col-md-4">
                    <style>
                        /*Remove Google icon and "linky" behavior from language selector:*/
                        .goog-te-gadget-icon {
                            display: none;
                        }

                        .goog-te-gadget-simple a {
                            text-decoration: none !important;
                        }

                        /*Remove the Google translate toolbar:*/
                        .goog-te-banner-frame.skiptranslate {
                            display: none !important;
                        }

                        body {
                            top: 0px !important;
                        }
                    </style>

                </div>
            </div>

        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@Scripts.Render("~/bundles/bootstrap" + (CultureHelper.IsRighToLeft() ? "-rtl" : ""))*@
    @RenderSection("scripts", required: false)

    <style>
        /*Multi Level Menu starts*/
        .dropdown-menu > li {
            position: relative;
            -webkit-user-select: none; /* Chrome/Safari */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+ */
            /* Rules below not implemented in browsers yet */
            -o-user-select: none;
            user-select: none;
            cursor: pointer;
        }

        .dropdown-menu .sub-menu {
            left: 100%;
            position: absolute;
            top: 0;
            display: none;
            margin-top: -1px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left-color: #fff;
            box-shadow: none;
        }

        .right-caret:after, .left-caret:after {
            content: "";
            border-bottom: 5px solid transparent;
            border-top: 5px solid transparent;
            display: inline-block;
            height: 0;
            vertical-align: middle;
            width: 0;
            margin-left: 5px;
        }

        .right-caret:after {
            border-left: 5px solid #ffaf46;
        }

        .left-caret:after {
            border-right: 5px solid #ffaf46;
        }
        /*Multi Level Menu ends*/
    </style>

    <script>
        // Multi Level Menu starts
        $(function () {
            $(".dropdown-menu > li > a.trigger").on("click", function (e) {
                var current = $(this).next();
                var grandparent = $(this).parent().parent();
                if ($(this).hasClass('left-caret') || $(this).hasClass('right-caret'))
                    $(this).toggleClass('right-caret left-caret');
                grandparent.find('.left-caret').not(this).toggleClass('right-caret left-caret');
                grandparent.find(".sub-menu:visible").not(current).hide();
                current.toggle();
                e.stopPropagation();
            });
            $(".dropdown-menu > li > a:not(.trigger)").on("click", function () {
                var root = $(this).closest('.dropdown');
                root.find('.left-caret').toggleClass('right-caret left-caret');
                root.find('.sub-menu:visible').hide();
            });
        });
        // Multi Level Menu ends

    </script>
</body>
</html>
