@using Resources;
@using Lifetrons.Erp.Helpers

@model IEnumerable<Lifetrons.Erp.Data.OrderLineItem>

@{
    ViewBag.Title = Resources.Metadata_UISection_Index;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">@Resources.Metadata_OrderLineItem - @Resources.Metadata_Products</h4>
    </div>
    <p>
            <a href="@Url.Action("Create", new {orderId = ViewData["OrderId"], priceBookId = ViewData["PriceBookId"]})" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span>
                @Resources.Metadata_UISection_Add
            </a>
    </p>

    <div class="panel-body" style="overflow:auto;">
        <table class="table table-striped table-hover">
            <tr>
                <th></th>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Serial)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SalesPrice)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.DiscountPercent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DiscountAmount)
                </th>
               
                <th>
                    @Html.DisplayNameFor(model => model.LineItemPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Weight)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LineItemAmount)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.OrderId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShrtDesc)
                </th>
                <th>
                    @Html.DisplayName("Image")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a id="Detail" href="@Url.Action("Details", new { orderId = item.OrderId, priceBookId = item.PriceBookId, productId = item.ProductId })">
                        <i id="social" class="fa fa-expand fa-2x social-fb"></i>
                    </a>
                </td>
                <td>
                    <a id="Edit" href="@Url.Action("Edit", new { orderId = item.OrderId, priceBookId = item.PriceBookId, productId = item.ProductId })">
                        <i id="social" class="fa fa-edit fa-2x social-em"></i>
                    </a>
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Serial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalesPrice)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DiscountPercent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiscountAmount)
                </td>
              
                <td>
                    @Html.DisplayFor(modelItem => item.LineItemPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight) &nbsp; @Html.DisplayFor(modelItem => item.WeightUnit.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.LineItemAmount)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Order.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShrtDesc)
                </td>
                <td>
                    <img src="@Url.Action("GetProductImageThumbnail", "Media", new { area = "", productId = item.ProductId.ToString() })" class="img-responsive" alt="Image Not Available"
                         onerror="this.onerror=null;this.src='@Url.Content("~/Images/ImageNotAvailable.jpg")';" height="50" width="50">
                </td>

                <td>
                        <a id="Delete" href="@Url.Action("Delete", new {orderId = item.OrderId, priceBookId = item.PriceBookId, productId = item.ProductId})">
                            <i id="social" class="fa fa-trash-o fa-2x social-gp"></i>
                        </a>
                </td>
            </tr>
        }

        </table>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*fancyboxScripts creates issue with Login button in Accounts/Login*@
    @Scripts.Render("~/Scripts/fancybox/fancyboxScripts")
}

