@using Resources;
@model Lifetrons.Erp.Data.OperationBOMLineItem

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.OperationId)
    @Html.HiddenFor(model => model.ProductId)
    @Html.HiddenFor(model => model.EnterpriseStageId)
    @Html.HiddenFor(model => model.ProcessId)
    @Html.HiddenFor(model => model.ItemId)
    
    <div class="form-horizontal">
        <h4>Create - Operation BOM Line Item</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.ProductId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.ProductId, new { Value = @ViewData["ProductId"] })
                @Html.TextBox("ProductName", (string)ViewBag.ProductName, new { @readonly = true })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EnterpriseStageId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.EnterpriseStageId, new { Value = @ViewData["EnterpriseStageId"] })
                @Html.TextBox("EnterpriseStageName", (string)ViewBag.EnterpriseStageName, new { @readonly = true })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProcessId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.ProcessId, new { Value = @ViewData["ProcessId"] })
                @Html.TextBox("ProcessName", (string)ViewBag.ProcessName, new { @readonly = true })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.ItemId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.ItemId, new { Value = @ViewData["ItemId"] })
                @Html.TextBox("ItemName", (string)ViewBag.ItemName, new { @readonly = true })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Serial, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Serial, new { @maxlength = "3", @placeholder = "1" })
                @Html.ValidationMessageFor(model => model.Serial)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.ItemId, "ItemId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ItemId")
                @Html.ValidationMessageFor(model => model.ItemId)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.ShrtDesc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShrtDesc)
                @Html.ValidationMessageFor(model => model.ShrtDesc)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Desc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Desc)
                @Html.ValidationMessageFor(model => model.Desc)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantity)
                @Html.ValidationMessageFor(model => model.Quantity)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Weight, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Weight)
                @Html.ValidationMessageFor(model => model.Weight)
                @Html.DropDownList("WeightUnitId", String.Empty)
                @Html.ValidationMessageFor(model => model.WeightUnitId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AllowedLossQuantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AllowedLossQuantity)
                @Html.ValidationMessageFor(model => model.AllowedLossQuantity)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AllowedLossWeight, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AllowedLossWeight)
                @Html.ValidationMessageFor(model => model.AllowedLossWeight)
                @Html.DropDownList("AllowedLossWeightUnitId", String.Empty)
                @Html.ValidationMessageFor(model => model.AllowedLossWeightUnitId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Authorized, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @(User.IsInRole("WorksAuthorize") ? Html.EditorFor(model => model.Authorized) : Html.DisplayFor(model => model.Authorized))
                @Html.ValidationMessageFor(model => model.Authorized)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @if (!Model.Authorized || User.IsInRole("WorksAuthorize"))
                {
                    <input type="submit" value="Save" class="btn btn-default" accesskey="S" />
                }
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Details", "Operation", new { productId = (string)ViewBag.ProductId, enterpriseStageId = (string)ViewBag.EnterpriseStageId, processId = (string)ViewBag.ProcessId }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/OperationBOMLineItem")
}