@using Resources;
@using System.Threading
@using Lifetrons.Erp.Helpers

@model Lifetrons.Erp.Data.Order

@{
    ViewBag.Title = Resources.Metadata_UISection_Create;
}

<h2> @Resources.Metadata_UISection_Create </h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@Resources.Metadata_OrderId_Order</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">

            <div class="panel panel-default">
                <div class="panel-heading">@Resources.Metadata_UISection_References</div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.OwnerId, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("OwnerId")
                            @Html.ValidationMessageFor(model => model.OwnerId)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.AccountId, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("AccountId")
                            @Html.ValidationMessageFor(model => model.AccountId)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.SubAccountId, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("SubAccountId", String.Empty)
                            @Html.ValidationMessageFor(model => model.SubAccountId)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Name, new { @class = "manageMaxLength", @maxlength = "100", @placeholder = "Name (Unique)" })
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Code, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Code, new { @class = "manageMaxLength", @maxlength = "100", @placeholder = "Code (Unique)" })
                            @Html.ValidationMessageFor(model => model.Code)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ShrtDesc, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.ShrtDesc, new { @class = "manageMaxLength", @maxlength = "150", @placeholder = " Short description" })
                            @Html.ValidationMessageFor(model => model.ShrtDesc)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Remark, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Remark, new { @class = "manageMaxLength", @maxlength = "140", @placeholder = "Updates" })
                            @Html.ValidationMessageFor(model => model.Remark)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.RefNo, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.RefNo, new { @class = "manageMaxLength", @maxlength = "25", @placeholder = "Refernce number" })
                            @Html.ValidationMessageFor(model => model.RefNo)
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">@Resources.Metadata_UISection_Relations</div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ContractId, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("ContractId", String.Empty)
                            @Html.ValidationMessageFor(model => model.ContractId)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.OpportunityId, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("OpportunityId", String.Empty)
                            @Html.ValidationMessageFor(model => model.OpportunityId)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.QuoteId, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("QuoteId", String.Empty)
                            @Html.ValidationMessageFor(model => model.QuoteId)
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">@Resources.Metadata_UISection_FollowUp</div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PriorityId, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("PriorityId")
                            @Html.ValidationMessageFor(model => model.PriorityId)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CustSignedById, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("CustSignedById", String.Empty)
                            @Html.ValidationMessageFor(model => model.CustSignedById)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CustSignedByDate, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                           <div class="dateDiv" style="position: relative">
                                <input class="dateTxt" type="text"  id="CustSignedByDate" name="CustSignedByDate" value="@DateTime.Now"
                                       data-date-format="@Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortDatePattern.ToUpper() @Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortTimePattern.ToLower()" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CompanySignedById, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("CompanySignedById", String.Empty)
                            @Html.ValidationMessageFor(model => model.CompanySignedById)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.StartDate, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                           <div class="dateDiv" style="position: relative">
                                <input class="dateTxt" type="text"  id="StartDate" name="StartDate" value="@DateTime.Now"
                                       data-date-format="@Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortDatePattern.ToUpper() @Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortTimePattern.ToLower()" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ActivatedById, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("ActivatedById", String.Empty)
                            @Html.ValidationMessageFor(model => model.ActivatedById)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ActivatedDate, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                           <div class="dateDiv" style="position: relative">
                                <input class="dateTxt" type="text"  id="ActivatedDate" name="ActivatedDate" value="@DateTime.Now"
                                       data-date-format="@Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortDatePattern.ToUpper() @Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortTimePattern.ToLower()" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DeliveryDate, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                           <div class="dateDiv" style="position: relative">
                                <input class="dateTxt" type="text"  id="DeliveryDate" name="DeliveryDate" value="@DateTime.Now"
                                       data-date-format="@Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortDatePattern.ToUpper() @Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortTimePattern.ToLower()" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DeliveryStatusId, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("DeliveryStatusId")
                            @Html.ValidationMessageFor(model => model.DeliveryStatusId)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ProgressPercent, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="input-group col-md-2">
                                <input name="ProgressPercent" id="ProgressPercent" type="text" class="form-control manageMaxLength" maxlength="17" placeholder="Ex: 5">
                                <span class="input-group-addon">
                                    %
                                </span>
                                @Html.ValidationMessageFor(model => model.ProgressPercent)
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ProgressDesc, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.ProgressDesc, new { @class = "manageMaxLength", @maxlength = "250", @placeholder = "Progress desc" })
                            @Html.ValidationMessageFor(model => model.ProgressDesc)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ReportCompletionToId, "ReportCompletionToId", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("ReportCompletionToId")
                            @Html.ValidationMessageFor(model => model.ReportCompletionToId)
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">@Resources.Metadata_UISection_BillingAddress</div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.BillingAddressId, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("BillingAddressId", String.Empty)
                            @Html.ValidationMessageFor(model => model.BillingAddressId)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BillingAddressToName, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.BillingAddressToName, new { @class = "manageMaxLength", @maxlength = "100", @placeholder = "Mr. John Smith" })
                            @Html.ValidationMessageFor(model => model.BillingAddressToName)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BillingAddressLine1, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.BillingAddressLine1, new { @class = "manageMaxLength", @maxlength = "100", @placeholder = "" })
                            @Html.ValidationMessageFor(model => model.BillingAddressLine1)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BillingAddressLine2, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.BillingAddressLine2, new { @class = "manageMaxLength", @maxlength = "100", @placeholder = "" })
                            @Html.ValidationMessageFor(model => model.BillingAddressLine2)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BillingAddressLine3, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.BillingAddressLine3, new { @class = "manageMaxLength", @maxlength = "100", @placeholder = "" })
                            @Html.ValidationMessageFor(model => model.BillingAddressLine3)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BillingAddressCity, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.BillingAddressCity, new { @class = "manageMaxLength", @maxlength = "100", @placeholder = "" })
                            @Html.ValidationMessageFor(model => model.BillingAddressCity)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BillingAddressPin, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.BillingAddressPin, new { @class = "manageMaxLength", @maxlength = "12", @placeholder = "" })
                            @Html.ValidationMessageFor(model => model.BillingAddressPin)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BillingAddressState, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.BillingAddressState, new { @class = "manageMaxLength", @maxlength = "100", @placeholder = "" })
                            @Html.ValidationMessageFor(model => model.BillingAddressState)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BillingAddressCountry, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.BillingAddressCountry, new { @class = "manageMaxLength", @maxlength = "100", @placeholder = "" })
                            @Html.ValidationMessageFor(model => model.BillingAddressCountry)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BillingAddressPhone, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.BillingAddressPhone, new { @class = "manageMaxLength", @maxlength = "100", @placeholder = "" })
                            @Html.ValidationMessageFor(model => model.BillingAddressPhone)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BillingAddressEMail, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.BillingAddressEMail, new { @class = "manageMaxLength", @maxlength = "100", @placeholder = "" })
                            @Html.ValidationMessageFor(model => model.BillingAddressEMail)
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">@Resources.Metadata_UISection_ShippingAddress</div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ShippingAddressId, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("ShippingAddressId", String.Empty)
                            @Html.ValidationMessageFor(model => model.ShippingAddressId)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ShippingAddressToName, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.ShippingAddressToName, new { @class = "manageMaxLength", @maxlength = "100", @placeholder = "Mr. John Smith" })
                            @Html.ValidationMessageFor(model => model.ShippingAddressToName)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ShippingAddressLine1, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.ShippingAddressLine1, new { @class = "manageMaxLength", @maxlength = "100", @placeholder = "" })
                            @Html.ValidationMessageFor(model => model.ShippingAddressLine1)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ShippingAddressLine2, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.ShippingAddressLine2, new { @class = "manageMaxLength", @maxlength = "100", @placeholder = "" })
                            @Html.ValidationMessageFor(model => model.ShippingAddressLine2)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ShippingAddressLine3, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.ShippingAddressLine3, new { @class = "manageMaxLength", @maxlength = "100", @placeholder = "" })
                            @Html.ValidationMessageFor(model => model.ShippingAddressLine3)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ShippingAddressCity, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.ShippingAddressCity, new { @class = "manageMaxLength", @maxlength = "100", @placeholder = "" })
                            @Html.ValidationMessageFor(model => model.ShippingAddressCity)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ShippingAddressPin, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.ShippingAddressPin, new { @class = "manageMaxLength", @maxlength = "12", @placeholder = "" })
                            @Html.ValidationMessageFor(model => model.ShippingAddressPin)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ShippingAddressState, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.ShippingAddressState, new { @class = "manageMaxLength", @maxlength = "100", @placeholder = "" })
                            @Html.ValidationMessageFor(model => model.ShippingAddressState)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ShippingAddressCountry, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.ShippingAddressCountry, new { @class = "manageMaxLength", @maxlength = "100", @placeholder = "" })
                            @Html.ValidationMessageFor(model => model.ShippingAddressCountry)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ShippingAddressPhone, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.ShippingAddressPhone, new { @class = "manageMaxLength", @maxlength = "100", @placeholder = "" })
                            @Html.ValidationMessageFor(model => model.ShippingAddressPhone)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ShippingAddressEMail, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.ShippingAddressEMail, new { @class = "manageMaxLength", @maxlength = "100", @placeholder = "" })
                            @Html.ValidationMessageFor(model => model.ShippingAddressEMail)
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">@Resources.Metadata_UISection_TermsConds</div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.DeliveryTerms, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.DeliveryTerms, new { @class = "manageMaxLength", @maxlength = "500", @placeholder = "Delivery and shipping terms" })
                            @Html.ValidationMessageFor(model => model.DeliveryTerms)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PaymentTerms, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.PaymentTerms, new { @class = "manageMaxLength", @maxlength = "500", @placeholder = "Payment terms" })
                            @Html.ValidationMessageFor(model => model.PaymentTerms)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.SpecialTerms, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.SpecialTerms, new { @class = "manageMaxLength", @maxlength = "500", @placeholder = "Special terms" })
                            @Html.ValidationMessageFor(model => model.SpecialTerms)
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">@Resources.Metadata_UISection_SystemInfo</div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Authorized, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.Authorized)
                            @Html.ValidationMessageFor(model => model.Authorized)
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" accesskey="S" />
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/Order")
}
