@using Resources;
@using Lifetrons.Erp.Helpers
@model Lifetrons.Erp.Data.Item

@{
    ViewBag.Title = "Create";
}

<h2> @Resources.Metadata_UISection_Create </h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Item</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">

            <div class="panel panel-default">
                <div class="panel-heading">References</div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.OwnerId, "Owner", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("OwnerId")
                            @Html.ValidationMessageFor(model => model.OwnerId)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Name, new { @class = "manageMaxLength", @maxlength = "100", @placeholder = "Name (Unique)" })
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Code, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Code, new { @class = "manageMaxLength", @maxlength = "100", @placeholder = "Code (Unique)" })
                            @Html.ValidationMessageFor(model => model.Code)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ShrtDesc, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.ShrtDesc, new { @class = "manageMaxLength", @maxlength = "150", @placeholder = "Short desc" })
                            @Html.ValidationMessageFor(model => model.ShrtDesc)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Desc, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Desc, new { @class = "manageMaxLength", @maxlength = "140", @placeholder = "Long Desc" })
                            @Html.ValidationMessageFor(model => model.Desc)
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Lot / Batch details</div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.QuantityPerLot, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.QuantityPerLot)
                            @Html.ValidationMessageFor(model => model.QuantityPerLot)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LotWeight, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.LotWeight)
                            @Html.ValidationMessageFor(model => model.LotWeight)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LotWeightUnitId, "LotWeightUnitId", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("LotWeightUnitId")
                            @Html.ValidationMessageFor(model => model.LotWeightUnitId)
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Physical Attributes</div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Size, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Size)
                            @Html.ValidationMessageFor(model => model.Size)
                        </div>
                    </div>

                   

                    <div class="form-group">
                        @Html.LabelFor(model => model.Gauge, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Gauge)
                            @Html.ValidationMessageFor(model => model.Gauge)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ShapeId, "ShapeId", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("ShapeId")
                            @Html.ValidationMessageFor(model => model.ShapeId)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ColourId, "ColourId", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("ColourId")
                            @Html.ValidationMessageFor(model => model.ColourId)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.StyleId, "StyleId", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("StyleId")
                            @Html.ValidationMessageFor(model => model.StyleId)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NatureId, "NatureId", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("NatureId")
                            @Html.ValidationMessageFor(model => model.NatureId)
                        </div>
                    </div>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Inventory</div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.LeadTime, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.LeadTime)
                            @Html.ValidationMessageFor(model => model.LeadTime)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MinStkLvl, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MinStkLvl)
                            @Html.ValidationMessageFor(model => model.MinStkLvl)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SafetyQty, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SafetyQty)
                            @Html.ValidationMessageFor(model => model.SafetyQty)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ReOrdrQty, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ReOrdrQty)
                            @Html.ValidationMessageFor(model => model.ReOrdrQty)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.OpeningQty, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.OpeningQty)
                            @Html.ValidationMessageFor(model => model.OpeningQty)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.OpeningLotCost, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.OpeningLotCost)
                            @Html.ValidationMessageFor(model => model.OpeningLotCost)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Wastage, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Wastage)
                            @Html.ValidationMessageFor(model => model.Wastage)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ScrapRate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ScrapRate)
                            @Html.ValidationMessageFor(model => model.ScrapRate)
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.Level, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Level)
                            @Html.ValidationMessageFor(model => model.Level)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.AlternativeId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AlternativeId)
                            @Html.ValidationMessageFor(model => model.AlternativeId)
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">@Resources.Metadata_UISection_Relations</div>
                <div class="panel-body">
                    
                    <div class="form-group">
                        @Html.LabelFor(model => model.ClassificationId, "ClassificationId", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("ClassificationId")
                            @Html.ValidationMessageFor(model => model.ClassificationId)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CategoryId, "CategoryId", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("CategoryId")
                            @Html.ValidationMessageFor(model => model.CategoryId)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TypeId, "TypeId", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("TypeId")
                            @Html.ValidationMessageFor(model => model.TypeId)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ABCClass, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("ABCClass", new List<SelectListItem>
                            {
                                new SelectListItem{ Text="A", Value = "A" },
                                new SelectListItem{ Text="B", Value = "B" },
                                new SelectListItem{ Text="C", Value = "C" },
                            })
                            @Html.ValidationMessageFor(model => model.ABCClass)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.VEDClass, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("VEDClass", new List<SelectListItem>
                            {
                                new SelectListItem{ Text="V", Value = "V" },
                                new SelectListItem{ Text="E", Value = "E" },
                                new SelectListItem{ Text="D", Value = "D" },
                            })
                            @Html.ValidationMessageFor(model => model.VEDClass)
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.GroupId, "GroupId", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("GroupId")
                            @Html.ValidationMessageFor(model => model.GroupId)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SubGroupId, "SubGroupId", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("SubGroupId")
                            @Html.ValidationMessageFor(model => model.SubGroupId)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CostingGroupId, "CostingGroupId", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("CostingGroupId")
                            @Html.ValidationMessageFor(model => model.CostingGroupId)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CostingSubGroupId, "CostingSubGroupId", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("CostingSubGroupId")
                            @Html.ValidationMessageFor(model => model.CostingSubGroupId)
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">@Resources.Metadata_UISection_SystemInfo</div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Authorized, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @(User.IsInRole("StockAuthorize") ? Html.EditorFor(model => model.Authorized) : Html.DisplayFor(model => model.Authorized))
                            @Html.ValidationMessageFor(model => model.Authorized)
                        </div>
                    </div>

                    @*<div class="form-group">
                            @Html.LabelFor(model => model.Active, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Active)
                                @Html.ValidationMessageFor(model => model.Active)
                            </div>
                        </div>*@

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" accesskey="S" />
                </div>
            </div>

        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/Item")
}
