@using Resources;
@model Lifetrons.Erp.Data.BOM

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>

<div class="form-horizontal">
    <h4>BOMHead</h4>
    <hr />
    <div class="panel panel-default">
        <div class="panel-heading">@Resources.Metadata_UISection_References</div>
        <div class="panel-body">
            <div class="form-group">
                @Html.LabelFor(model => model.OwnerId, "OwnerId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.AspNetUser2.UserName)
                    @Html.ValidationMessageFor(model => model.OwnerId)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Name, new { @class = "manageMaxLength", @maxlength = "100", @placeholder = "Name (Unique)" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Code, new { @class = "manageMaxLength", @maxlength = "100", @placeholder = "Code (Unique)" })
                    @Html.ValidationMessageFor(model => model.Code)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ShrtDesc, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.ShrtDesc, new { @class = "manageMaxLength", @maxlength = "200", @placeholder = "Short desc" })
                    @Html.ValidationMessageFor(model => model.ShrtDesc)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Desc, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Desc, new { @class = "manageMaxLength", @maxlength = "399", @placeholder = "Updates" })
                    @Html.ValidationMessageFor(model => model.Desc)
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">@Resources.Metadata_UISection_Relations</div>
        <div class="panel-body">
            <div class="form-group">
                @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Quantity)
                    @Html.ValidationMessageFor(model => model.Quantity)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Weight, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Weight)
                    @Html.ValidationMessageFor(model => model.Weight)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.WeightUnitId, "WeightUnitId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.WeightUnit.Name)
                    @Html.ValidationMessageFor(model => model.WeightUnitId)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.OtherCharges, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.OtherCharges)
                    @Html.ValidationMessageFor(model => model.OtherCharges)
                </div>
            </div>

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">@Resources.Metadata_UISection_SystemInfo</div>
        <div class="panel-body">
            <div class="form-group">
                @Html.LabelFor(model => model.Authorized, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Authorized)
                    @Html.ValidationMessageFor(model => model.Authorized)
                </div>
            </div>
        </div>
    </div>
</div>
