@using Resources;
@using System.Collections
@using Lifetrons.Erp.Helpers;
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using Resources;

@{
    ViewBag.Title = Resources.Metadata_UISection_Dashboard;
}

@if (Request.IsAuthenticated)
{
    var applicationUserId = User.Identity.GetUserId();
    var userManager = new UserManager<IdentityUser>(new UserStore<IdentityUser>());
    var userRoles = userManager.GetRoles(TempData["UserId"].ToString());

    var notices = TempData["noticeBoard"] as IEnumerable<Lifetrons.Erp.Data.NoticeBoard>;
    var openLeads = TempData["OpenLeads"] as IEnumerable<Lifetrons.Erp.Data.spUserOpenWork_Result>;
    var openOpportunities = TempData["OpenOpportunities"] as IEnumerable<Lifetrons.Erp.Data.spUserOpenWork_Result>;
    var openTasks = TempData["OpenTasks"] as IEnumerable<Lifetrons.Erp.Data.spUserOpenWork_Result>;
    var openCases = TempData["OpenCases"] as IEnumerable<Lifetrons.Erp.Data.spUserOpenWork_Result>;
    var openQuotes = TempData["OpenQuotes"] as IEnumerable<Lifetrons.Erp.Data.spUserOpenWork_Result>;
    var openOrders = TempData["OpenOrders"] as IEnumerable<Lifetrons.Erp.Data.spUserOpenWork_Result>;



    <div class="row text-center">
        <h3>Dashboard (@TempData["Username"])</h3>
    </div>
    
        <!--Show Notice Board. Expand accordian if there is a new notice, else remain collapsed-->
    
    <div class="panel-group" id="accordionNoticeBoard" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading text-center text-capitalize" role="tab" id="headingNoticeBoard">
                <h3 class="panel-title">

                    <a data-toggle="collapse" data-parent="#accordionNoticeBoard" href="#collapseNoticeBoard" aria-expanded="true" aria-controls="collapseNoticeBoard">
                        <b>Notice Board</b>
                    </a>
                </h3>
            </div>
            @if (TempData["NewNoticeExists"].ToString().ToUpper() == "TRUE")
            {
                TempData["ExpandClass"] = "in";
            }
            else
            {
                TempData["ExpandClass"] = "";
            }
            <div id="collapseNoticeBoard" class="panel-collapse collapse @TempData["ExpandClass"]" role="tabpanel" aria-labelledby="headingNoticeBoard">
                <div class="panel-body">
                    <table class="table table-striped table-hover">

                        <tr>
                            <th class="hidden">

                            </th>

                            <th>
                                Subject
                            </th>

                            <th>
                                Notice Date
                            </th>

                            <th>
                                Notice
                            </th>
                        </tr>
                        @foreach (var item in notices)
                        {
                        <tr>
                            <td class="hidden">@Html.DisplayFor(modelItem => item.Id)</td>
                            <td>
                                <a href="@Url.Action("Details", "NoticeBoard",  new { id = item.Id })">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </a>
                            </td>
                            <td>
                                @ControllerHelper.ConvertDateTimeFromUtc(item.OpeningDate, User.TimeZone())
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Desc)
                            </td>
                        </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>


    <!--Show Hierarchy Panel-->
    if (TempData["HierarchyExists"].ToString().ToUpper() == "TRUE")
    {
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading text-center text-capitalize" role="tab" id="headingOne">
                    <h3 class="panel-title">                 
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <b>Hierarchy</b>
                        </a>
                    </h3>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="row">
                            @{ Html.RenderAction("DownlineHierarchy", "Dashboard", new {userId = TempData["UserId"].ToString()}); }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <!--Work Section-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row text-center text-uppercase">
                <b> @TempData["Username"]</b>
            </div>
            <div class="row bg-info text-center text-uppercase has-success">
                @if (userRoles.Contains("OrganizationLevel") && applicationUserId == TempData["UserId"].ToString())
                {
                    <div class="col-md-4">
                        @Html.ActionLink("Organization Dashboard", "OrganizationDashboard")
                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">

                    </div>
                }
                @if (userRoles.Contains("DepartmentLevel") && null != TempData["DepartmentId"])
                {
                    <div class="col-md-4">
                        @Html.ActionLink("Department Dashboard", "DepartmentDashboard", new { departmentId = TempData["DepartmentId"].ToString() })
                    </div>
                    <div class="col-md-4">

                    </div>
                }
                @if (userRoles.Contains("TeamLevel") && null != TempData["TeamId"])
                {
                    <div class="col-md-4">
                        @Html.ActionLink("Team Dashboard", "TeamDashboard", new { teamId = TempData["TeamId"].ToString() })
                    </div>
                }

            </div>

        </div>
        <div class="panel-body">

            <div class="row">

                <div class="col-md-4 panel panel-default">
                    <div class="panel-heading text-center"><b>Open Leads &nbsp; </b><span class="badge">@openLeads.ToList().Count</span></div>
                    <div class="panel-body" style="height: 200px; overflow:auto;">
                        <table class="table table-striped  table-hover">
                            <tr>
                                <th class="hidden">

                                </th>

                                <th>
                                    Name
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Date
                                </th>
                            </tr>
                            @foreach (var item in openLeads)
                            {
                                <tr>
                                    <td class="hidden">@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td>
                                        <a href="@Url.Action("Details", "Lead",  new { id = item.Id })">

                                            @Html.DisplayFor(modelItem => item.Name)
                                        </a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @ControllerHelper.ConvertDateTimeFromUtc(item.Date, User.TimeZone())
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>

                <div class="col-md-4 panel panel-default">
                    <div class="panel-heading text-center"><b>Open Opportunities &nbsp; </b><span class="badge">@openOpportunities.ToList().Count</span></div>
                    <div class="panel-body" style="height: 200px; overflow:auto;">
                        <table class="table table-striped table-hover">

                            <tr>
                                <th class="hidden">

                                </th>

                                <th>
                                    Name
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Date
                                </th>
                            </tr>
                            @foreach (var item in openOpportunities)
                            {
                                <tr>
                                    <td class="hidden">@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td>
                                        <a href="@Url.Action("Details", "Opportunity",  new { id = item.Id })">

                                            @Html.DisplayFor(modelItem => item.Name)
                                        </a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @ControllerHelper.ConvertDateTimeFromUtc(item.Date, User.TimeZone())
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>

                <div class="col-md-4 panel panel-default">
                    <div class="panel-heading text-center"><b>Open Tasks &nbsp; </b><span class="badge">@openTasks.ToList().Count</span></div>
                    <div class="panel-body" style="height: 200px; overflow:auto;">
                        <table class="table table-striped table-hover">

                            <tr>

                                <th class="hidden">

                                </th>

                                <th>
                                    Name
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Date
                                </th>
                            </tr>
                            @foreach (var item in openTasks)
                            {
                                <tr>
                                    <td class="hidden">@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td>
                                        <a href="@Url.Action("Details", "Task",  new { id = item.Id, area = "Activity"  })">

                                            @Html.DisplayFor(modelItem => item.Name)
                                        </a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @ControllerHelper.ConvertDateTimeFromUtc(item.Date, User.TimeZone())
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-4 panel panel-default">
                    <div class="panel-heading text-center"><b>Open Cases &nbsp; </b><span class="badge">@openCases.ToList().Count</span></div>
                    <div class="panel-body" style="height: 200px; overflow:auto;">
                        <table class="table table-striped table-hover">
                            <tr>
                                <th class="hidden">
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Date
                                </th>
                            </tr>
                            @foreach (var item in openCases)
                            {
                                <tr>
                                    <td class="hidden">@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td>
                                        <a href="@Url.Action("Details", "Case",  new { id = item.Id })">

                                            @Html.DisplayFor(modelItem => item.Name)
                                        </a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @ControllerHelper.ConvertDateTimeFromUtc(item.Date, User.TimeZone())
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>

                <div class="col-md-4 panel panel-default">
                    <div class="panel-heading text-center"><b>Open Quotes &nbsp; </b><span class="badge">@openQuotes.ToList().Count</span></div>
                    <div class="panel-body" style="height: 200px; overflow:auto;">
                        <table class="table table-striped table-hover">

                            <tr>
                                <th class="hidden">

                                </th>

                                <th>
                                    Name
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Date
                                </th>
                            </tr>
                            @foreach (var item in openQuotes)
                            {
                                <tr>
                                    <td class="hidden">@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td>
                                        <a href="@Url.Action("Details", "Quote",  new { id = item.Id })">

                                            @Html.DisplayFor(modelItem => item.Name)
                                        </a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @ControllerHelper.ConvertDateTimeFromUtc(item.Date, User.TimeZone())
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>

                <div class="col-md-4 panel panel-default">
                    <div class="panel-heading text-center"><b>Open Orders &nbsp; </b><span class="badge">@openOrders.ToList().Count</span></div>
                    <div class="panel-body" style="height: 200px; overflow:auto;">
                        <table class="table table-striped table-hover">

                            <tr>

                                <th class="hidden">

                                </th>

                                <th>
                                    Name
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Date
                                </th>
                            </tr>
                            @foreach (var item in openOrders)
                            {
                                <tr>
                                    <td class="hidden">@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td>
                                        <a href="@Url.Action("Details", "Order",  new { id = item.Id })">
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @ControllerHelper.ConvertDateTimeFromUtc(item.Date, User.TimeZone())
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>

            </div>

            <!--Charts-->
            <div class="row">
                <div class="col-md-4">
                    @{
    Html.RenderAction("LeadComparisonChart", new { userId = TempData["UserId"].ToString() });
                    }
                </div>
                <div class="col-md-4">
                    @{
    Html.RenderAction("OpportunityComparisonChart", new { userId = TempData["UserId"].ToString() });
                    }
                </div>
                <div class="col-md-4">
                    @{
    Html.RenderAction("OrderComparisonChart", new { userId = TempData["UserId"].ToString() });
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    @{
    Html.RenderAction("OpportunityAmountComparisonChart", new { userId = TempData["UserId"].ToString() });
                    }
                </div>
                <div class="col-md-4">
                    @{
    Html.RenderAction("OrderAmountComparisonChart", new { userId = TempData["UserId"].ToString() });
                    }
                </div>
            </div>

        </div> <!--Panel Body Close-->
    </div> <!--Panel Close-->
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/Home")
}

