@using Resources;
@using Lifetrons.Erp.Helpers
@model Lifetrons.Erp.Data.Opportunity

@{
    ViewBag.Title = Resources.Metadata_OpportunityId_Opportunity;
}

<h2>@Resources.Metadata_UISection_Delete</h2>

<h3>@Resources.Metadata_ConfirmDelete</h3>
<div>
    <h4>@Resources.Metadata_OpportunityId_Opportunity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OpportunityNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpportunityNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShrtDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShrtDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Private)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Private)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfEmployees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfEmployees)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpectedRevenue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpectedRevenue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CloseDate)
        </dt>

        <dd>
            @ControllerHelper.ConvertDateTimeFromUtc(Model.CloseDate, User.TimeZone())
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextStep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextStep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProbabilityPercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProbabilityPercent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Competitors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Competitors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @ControllerHelper.ConvertDateTimeFromUtc(Model.CreatedDate, User.TimeZone())
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @ControllerHelper.ConvertDateTimeFromUtc(Model.ModifiedDate, User.TimeZone())
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Authorized)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Authorized)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser1.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser1.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser2.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser2.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Campaign.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Campaign.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryStatu.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryStatu.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lead.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lead.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeadSource.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeadSource.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpportunityType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpportunityType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Organization.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organization.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stage.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stage.Name)
        </dd>

    </dl>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm" })) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/BOM")
}