@using Resources;
@using System.Threading
@using Lifetrons.Erp.Helpers
@model Lifetrons.Erp.Data.StockIssueHead

@{
    ViewBag.Title = Resources.Metadata_UISection_Details;
}

<h4>@Resources.Metadata_UISection_Details</h4>

<div class="row">
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.TimeStamp)

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-4 pull-left">
                        Stock Issue
                    </div>
                    <div class="col-md-8 pull-right" style="text-align: right">
                        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) | @Html.ActionLink("Back to List", "Index")
                    </div>
                </div>
            </div>
            <div class="panel-body">

                <div class="row">
                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-md-3">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.RefNo)
                    </dt>
                    <dd class="col-md-3">
                        @Html.DisplayFor(model => model.RefNo)
                    </dd>
                </div>

                <div class="row">
                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.Date)
                    </dt>
                    <dd class="col-md-3">
                        @ControllerHelper.ConvertDateTimeFromUtc(Model.Date, User.TimeZone())
                    </dd>
                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.EmployeeId)
                    </dt>
                    <dd class="col-md-3">
                        @Html.DisplayFor(model => model.Employee.Name)
                    </dd>
                </div>

                <div class="row">
                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.JobType)
                    </dt>
                    <dd class="col-md-3">
                        @Html.DisplayFor(model => model.JobType)
                    </dd>
                    <dt class="col-md-3">
                    </dt>
                    <dd class="col-md-3">
                    </dd>
                </div>

                <div class="row">
                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.IssuedByProcessId)
                    </dt>
                    <dd class="col-md-3">
                        @Html.DisplayFor(model => model.Process.Name) [@Html.DisplayFor(model => model.EnterpriseStage.Name)]
                    </dd>
                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.IssuedToProcessId)
                    </dt>
                    <dd class="col-md-3">
                        @Html.DisplayFor(model => model.Process1.Name) [@Html.DisplayFor(model => model.EnterpriseStage1.Name)]
                    </dd>
                </div>

                <div class="row">
                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.Remark)
                    </dt>
                    <dd class="col-md-9">
                        @Html.DisplayFor(model => model.Remark)
                    </dd>
                </div>
                @*Start Details - Authorized, Active, Created and Modified*@
                <div class="row">
                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.Authorized)
                    </dt>

                    <dd class="col-md-3">
                        @Html.DisplayFor(model => model.Authorized)
                    </dd>
                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.Active)
                    </dt>

                    <dd class="col-md-3">
                        @Html.DisplayFor(model => model.Active)
                    </dd>
                </div>
                <div class="row">
                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </dt>
                    <dd class="col-md-3">
                        @Html.DisplayFor(model => model.AspNetUser.UserName)
                        &nbsp;
                        @ControllerHelper.ConvertDateTimeFromUtc(Model.CreatedDate, User.TimeZone())
                    </dd>
                    <dt class="col-md-3">
                        @Html.DisplayNameFor(model => model.ModifiedBy)
                    </dt>
                    <dd class="col-md-3">
                        @Html.DisplayFor(model => model.AspNetUser1.UserName)
                        &nbsp;
                        @ControllerHelper.ConvertDateTimeFromUtc(Model.ModifiedDate, User.TimeZone())
                    </dd>
                </div>
                @*End Details - Authorized, Active, Created and Modified*@
            </div>
        </div>
    </div>
</div>

<div class="row">
    @{Html.RenderPartial("../StockItemIssueLineItem/Index", Model.StockItemIssues);}
</div>

<div class="row">
    @{Html.RenderPartial("../StockProductIssueLineItem/Index", Model.StockProductIssues);}
</div>


<div class="row center-block">
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) | @Html.ActionLink("Back to List", "Index")

    </p>
</div>

<div class="row">
    <a href="@Url.Action("Print", "PrintStockIssue", new { area = "Reports", reportFormatType = "PDF", id = Model.Id })">Print PDF</a> |
    <a href="@Url.Action("Print", "PrintStockIssue", new { area = "Reports", reportFormatType = "Excel", id = Model.Id })"> Excel</a> |
    <a href="@Url.Action("Print", "PrintStockIssue", new { area = "Reports", reportFormatType = "Word", id = Model.Id })"> Word</a> |
    <a href="@Url.Action("Print", "PrintStockIssue", new { area = "Reports", reportFormatType = "Image", id = Model.Id })">Image</a>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/StockIssueHead")
}
